target/classes/mulesoft-session-04.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="09be319d-671a-447b-819a-ba13317e5f86" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="mulesoft-session-04Flow" doc:id="a871f825-dfef-4de5-aa23-765081659549" >
		<http:listener doc:name="Listener" doc:id="95dbb047-f3d8-4cd5-9f9f-32f91380bc59" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="2b3b6313-7ac9-4ffe-85c9-778f38a2b8d0" message="Log01"/>
		<set-variable value='#["Bene Here!!! "]' doc:name="Name" doc:id="a44861c7-539b-4128-aa27-b3932aaa2a70" variableName="name"/>
		<set-variable value='#["  Get Method  "]' doc:name="Method" doc:id="dec4c121-5431-4927-b6e6-17943ba58d75" variableName="NameMethod"/>
		<logger level="INFO" doc:name="Logger" doc:id="85eb86a5-70f6-42db-bf0d-f34cf2e3c153" message='#["the method get me second vars" ++ vars.NameMethod as String]'/>
		<set-payload value='#["User::  " ++ vars.name as String  ++ " and method is " ++ vars.NameMethod]' doc:name="Payload" doc:id="906ed92b-6c50-4e67-9294-c1942108f32e" />
		<logger level="INFO" doc:name="Logger" doc:id="2f947013-25a1-4970-b110-5d562f79220c" message='#[" Completed request"]'/>
	</flow>
</mule>
